#text {
  font-family: "HGKUnica77VIPBeta", monospace;
  width: 100%;
  font-size: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-variation-settings: "wght" 32, "slnt" 0, "wdth" 80;
  padding: 0 50px;
  outline: none;
  border: none;
}
.col-full-height {
  height: calc(100vh - 120px);
}

.col-full-slider {
  height: 100px;
}


@media (max-width: 768px) {
  .col-full-height {
    height: auto;
  }
  
  .col-full-slider {
    height: auto;
  }
}
