body {
  background-color: #white;
  color: #000;
  text-align: center;
  font-family: monospace;
}

video {
  display: none;
}

canvas {
  width: 640px;
  height: 480px;
}

#status {
  display: none;
}
