
@font-face {
  font-family: "HGKUnica77VIPBeta";
  src: url("fonts/HGKUnica77VIPBeta.woff2") format("woff2");
}

.main-description {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 10px;
}

html {
  background-color: #f0f0f0;
  font-family: "Helvetica", monospace;
  font-size: 13px;
  max-height: 100vh;
}

#text {
  font-family: "HGKUnica77VIPBeta", monospace;
  width: 100%;
  font-size: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-variation-settings: 'wght' 32, 'slnt' 0, 'wdth' 80;
  padding: 0 50px;
  outline: none;
  border: none;
}

.col-full-height {
  height: calc(100vh - 120px);
}

.col-full-slider {
  height: 100px;
}