@font-face {
  font-family: "HGKBUnica77";
  src: url("assets/fonts/HGKBUnica77VIPBeta.woff2") format("woff2");
  font-weight: 1 1000; /* Range per variabilità */
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "HGKBUnica77";
}

.grid {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 80vh;
  height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: repeating-linear-gradient(
      to right,
      #ccc 0,
      #ccc 1px,
      transparent 1px,
      transparent 10vh
    ),
    repeating-linear-gradient(
      to bottom,
      #ccc 0,
      #ccc 1px,
      transparent 1px,
      transparent 10vh
    );
}

.grid-item-1 {
  width: 50%;
  height: 50%;
  background-color: rgba(255, 0, 0, 0.5);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item-2 {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: repeating-linear-gradient(
      to right,
      #ccc 0,
      #ccc 1px,
      transparent 1px,
      transparent 5vh
    ),
    repeating-linear-gradient(
      to bottom,
      #ccc 0,
      #ccc 1px,
      transparent 1px,
      transparent 5vh
    );
}
.grid-item-2-1 {
  width: 100%;
  height: 50%;
  background-color: rgba(0, 255, 0, 0.5);
}
.grid-item-2-2 {
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-item-2-3 {
  width: 50%;
  height: 50%;
  background-color: rgba(255, 0, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-item-3 {
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 255, 0.5);
}
.grid-item-4 {
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: end;
  justify-content: end;
}
.grid-item-4-1 {
  width: 50%;
  height: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid-item-1-text {
  margin: 0;
  padding: 0;
  font-size: 28vh;
  line-height: 130%;
  color: #fff;
  text-align: center;
  font-family: "HGKBUnica77";
  font-variation-settings: "wght" 50, "wdth" 100, "slnt" 0;
}

#grid-item-2-2-text {
  margin: 0;
  padding: 0;
  font-size: 14vh;
  line-height: 130%;
  color: #fff;
  text-align: center;
  font-family: "HGKBUnica77";
  font-variation-settings: "wght" 100, "wdth" 100, "slnt" 0;
}
#grid-item-2-3-text {
  margin: 0;
  padding: 0;
  font-size: 14vh;
  line-height: 130%;
  color: #fff;
  text-align: center;
  font-family: "HGKBUnica77";
  font-variation-settings: "wght" 500, "wdth" 100, "slnt" 24;
  animation: change-slnt 1s ease-in-out infinite alternate;
}
#grid-item-4-1-text {
  margin: 0;
  padding: 0;
  font-size: 14vh;
  line-height: 130%;
  color: #fff;
  text-align: center;
  font-variation-settings: "wght" 50, "wdth" 100, "slnt" 0;
  animation: change-wght 1s ease-in-out infinite alternate;
}

@keyframes change-wght {
  from {
    font-variation-settings: "wght" 50;
  }
  to {
    font-variation-settings: "wght" 500;
  }
}

@keyframes change-slnt {
  from {
    font-variation-settings: "slnt" 0;
  }
  to {
    font-variation-settings: "slnt" 24;
  }
}